<footer>
  <div class="footer-inner">
    <p>
      © {{currentDate.year}}, Decoy Community Primary School
      <br />
      Deer Park Road, Newton Abbot, TQ12 1DH
    <br />
      Telephone: <a href="tel:+441626353282">01626 353 282</a>
    <br />
      E-mail: <a href="mailto:admin@decoyschool.co.uk">admin@decoyschool.co.uk</a>.
    </p>
  </div>
</footer>