{% extends "./layout.njk" %}

{% block pagecontent %}
  <main>
    <div id="home-page-banner">
      <div id="title-container">
        <h1>Decoy<br />Community<br />Primary<br />School</h1>
      </div>
    </div>
    {{content | safe}}
  </main>
  <aside>
    <div>
      <a class="twitter-timeline" data-chrome="transparent nofooter" data-border-color="#008000" data-link-color="#008000" href="https://twitter.com/decoypri" data-height="480">Tweets by @DecoyPri</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div>
    <a href="https://pmx.parentmail.co.uk/#core/login"><img src="/images/logos/parentmail-logo.svg" alt="parent mail logo">Sign in to Parentmail</a>
    <a href="https://www.facebook.com/DecoyPTA/"><img src="/images/logos/facebook-logo.svg" alt="parent mail logo">Our PTA on Facebook</a>
  </aside>
{% endblock %}
