<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@700;900&display=swap" rel="stylesheet">
    <!-- netlify cms script from CDN -->
    {% if page.url == "/"%}<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{% endif %}
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <title>Decoy School | {% if title %}{{title}}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>    
  <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: "#ffffff",
            text: "rgba(0, 0, 0, 0.875)",
          },
          button: {
            background: "#008000",
            text: "white",
          },
        },
        position: "right",
        content: {
          message: "This website uses cookies to ensure the best possible experience.  By using our site, you agree to our use of cookies."
        }
      })
    });
  </script>
  </head>
  <body>
  <div id="cookieconsent"></div>
  <div id="page-wrapper">
    <header id="nav-wide">
      <nav>
        <div>
          <a class="school-logo-link" href="/"><img src="/images/logos/school-logo.svg" alt="school logo"/></a>
        </div>
        <div><a {% if page.url == "/about-us/" %}class="active" {% endif %} href="/about-us/">About Us</a><a {% if page.url == "/information/" %}class="active" {% endif %} href="/information/">Information</a><a {% if page.url == "/parents/" %}class="active" {% endif %} href="/parents/">Parents</a><a {% if page.url == "/contact-us/" %}class="active" {% endif %} href="/contact-us/">Contact</a></div>
      </nav>
    </header>
    <header id="nav-narrow">  
      <nav>
        <div id="narrow-menu-controls">
          <a class="school-logo-link" href="/"><img src="/images/logos/school-logo.svg" alt="school logo"/></a>
          <button id="menu-open-button" class="menu-button" onclick="openMenu()">
            <img src="/images/logos/menu.svg" alt="open site menu"/>
          </button>
        </div>
        <div id="narrow-menu-content" class="closed">
          <div id="menu-close-wrapper">
            <button id="menu-close-button" class="menu-button" onclick="closeMenu()">
              <img src="/images/logos/close.svg" alt="close site menu"/>
            </button>
          </div>
          <a {% if page.url == "/" %}class="active" {% endif %} href="/">Home</a>
          <a {% if page.url == "/about-us/" %}class="active" {% endif %} href="/about-us/">About Us</a>
          <a {% if page.url == "/information/" %}class="active" {% endif %} href="/information/">Information</a>
          <a {% if page.url == "/parents/" %}class="active" {% endif %} href="/parents/">Parents</a>
          <a {% if page.url == "/contact-us/" %}class="active" {% endif %} href="/contact-us/">Contact</a>
        </div>
      </nav>
    </header>
    <div id="page-content">
      {% block pagecontent %}{% endblock %}
    </div>
    <footer>
      <div class="footer-inner">
        <p>
          © {{currentDate.year}}, Decoy Community Primary School
          <br />
          Deer Park Road, Newton Abbot, TQ12 1DH
        </p>
        <p>
          Telephone: <a href="tel:+441626353282">01626 353 282</a>
        </p>
        <p>
          E-mail: <a href="mailto:admin@decoyschool.co.uk">admin@decoyschool.co.uk</a>.
        </p>
      </div>
    </footer>
  </body>
  <script>
    var menu = document.getElementById("narrow-menu-content")
    function openMenu(){
      menu.className = "open"
    }
    function closeMenu(){
      menu.className = "closed"
    }
  </script>
</html>