<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@700;900&display=swap" rel="stylesheet">
    <!-- netlify cms script from CDN -->
    {% if page.url == "/"%}<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{% endif %}
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <title>Decoy School{% if title %} | {{title}}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>    
  <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: "#ffffff",
            text: "rgba(0, 0, 0, 0.875)",
          },
          button: {
            background: "#008000",
            text: "white",
          },
        },
        position: "right",
        content: {
          message: "This website uses cookies to ensure the best possible experience.  By using our site, you agree to our use of cookies."
        }
      })
    });
  </script>
  <script>
  window.addEventListener("DOMContentLoaded", function(){
    // menu
    var menu = document.getElementById("narrow-menu-content")
    // open...
    document
      .getElementById("menu-open-button")
      .addEventListener("click", function(){
        menu.className = "open"
      })
    // ... and close
    document
      .getElementById("menu-close-button")
      .addEventListener("click", function(){
        menu.className = "closed"
      })

    // search functionality
    // adapted from https://www.hawksworx.com/blog/adding-search-to-a-jamstack-site/
    // redirects to /search and uses google to search if js is turned off
    var searchView = document.getElementById("search-view")
    var queryInput = document.getElementById("query")
    var searchResults = document.getElementById("search-results")
    var searchIndex = [] // the json index built at build time
    var results = [] // will hold the output of our search
    // open
    document
      .querySelectorAll(".open-search")
      .forEach(function(button){
        button.addEventListener("click", function (event){
          event.preventDefault()
          queryInput.value = ""
          // get search index when user opens search view
          fetch('/search-index.json')
            .then(function(res){
              return res.json()
            }).then(function(res){
              searchIndex = res.search
              console.log(JSON.stringify(searchIndex))
            })
          searchView.className = "open"
        })
      })
    // close
    document
      .getElementById("close-search")
      .addEventListener("click", function(){
        searchView.className = "closed"
        results = []
        queryInput.value = ""
        searchResults.innerHTML = ""
      })

    // watch changes on search input and update search string
    queryInput.addEventListener("input", function(event){
      if(event.target.value != ""){
        search(event.target.value.trim().toLowerCase())
      } else {
        searchResults.innerHTML = ""
      }
    })

    function search(str){
      results = searchIndex.filter(function(item){
        return item.title.indexOf(str) != -1
      })
      var listItems = ""
      results.forEach(function(result){
        listItems = listItems + `<li><a href="/uploads/${result.url}">${result.title}</a></li>`
      })
      searchResults.innerHTML = `
        <ul>
          ${listItems}
        </ul>
        `
    }
    })
  </script>
  </head>
  <body>
  <div id="cookieconsent"></div>
  <div id="page-wrapper">
    <div id="search-view" class="closed"> 
      <header>
      <h2>Search</h2>
      <button id="close-search" class="menu-button">
        <img src="/images/logos/close.svg" alt="close search"/>
      </button>
      </header>
      <div class="search-inner">
        <input id="query" type="text" placeholder="What are you looking for?"/>
        <div id="search-results"></div>
      </div>
    </div>
    {% include "page-header.njk" %}
    <div id="page-content">
      {% block pagecontent %}{% endblock %}
    </div>
    {% include "footer.njk" %}
  </body>
  <script>
   
  </script>
</html>