{% extends "./layout.njk" %}

{% block pagecontent %}
<main>
  <h1>{{title}}</h1>
  {{content | safe}}
  <div class="content-grid">
  {% for link in links %}
  
    <a href="{{link.address}}">{{link.text}}</a>
  {% endfor %}
  </div>
</main>
{% endblock %}