<header id="nav-wide">
  <nav>
    <div>
      <a class="school-logo-link" href="/"><img src="/images/logos/school-logo.svg" alt="school logo"/></a>
    </div>
    <div>
      <a {% if r/\/about-us\//.test(page.url) %}class="active" {% endif %} href="/about-us/">About Us</a>
      <a {% if r/\/information\//.test(page.url) %}class="active" {% endif %} href="/information/">Information</a>
      <a {% if r/\/parents\//.test(page.url) %}class="active" {% endif %} href="/parents/">Parents</a>
      <a {% if r/\/contact-us\//.test(page.url) %}class="active" {% endif %} href="/contact-us/">Contact</a>
      <a {% if r/\/search\//.test(page.url) %}class="active" {% endif %} class="open-search" href="/search/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" class="search-icon"><path  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" /><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </nav>
</header>
<header id="nav-narrow">  
  <nav>
    <div id="narrow-menu-controls">
      <a class="school-logo-link" href="/"><img src="/images/logos/school-logo.svg" alt="school logo"/></a>
      <div class="narrow-menu-buttons">
        <a {% if r/\/search\//.test(page.url) %}class="active" {% endif %} class="open-search" href="/search/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" class="search-icon"><path  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" /><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
        <button id="menu-open-button" class="menu-button">
          <img src="/images/logos/menu.svg" alt="open site menu"/>
        </button>
      </div>
    </div>
    <div id="narrow-menu-content" class="closed">
      <div id="menu-close-wrapper">
        <button id="menu-close-button" class="menu-button">
          <img src="/images/logos/close.svg" alt="close site menu"/>
        </button>
      </div>
      <a {% if page.url == "/" %}class="active" {% endif %} href="/">Home</a>
      <a {% if page.url == "/about-us/" %}class="active" {% endif %} href="/about-us/">About Us</a>
      <a {% if page.url == "/information/" %}class="active" {% endif %} href="/information/">Information</a>
      <a {% if page.url == "/parents/" %}class="active" {% endif %} href="/parents/">Parents</a>
      <a {% if page.url == "/contact-us/" %}class="active" {% endif %} href="/contact-us/">Contact</a>
    </div>
  </nav>
</header>