
{% extends "./layout.njk" %}

{% block pagecontent %}
<main>
  <h1>{{title}}</h1>
  {%if vacancies.length > 0%}
    <p>If you are interested in joinng our staff team, we are committed to safeguarding and encourage you to read our Child Protection and Safeguarding Policy before applying for any posts at Decoy Primary School.</p>
    {%for vacancy in vacancies %}
      <p>{{vacancy.text}}</p>
      <div class="content-grid">
      {% for document in vacancy.documents %}<a href="{{document.path}}">{{document.name}}</a>{% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p>There are currently no vacancies at the school. Thank you for your interest.</p>
  {% endif %}
</main>
{% endblock %}