/* CSS Mini Reset */
/* From http://www.vcarrer.com/2010/05/css-mini-reset.html - Thanks! */

html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}

img {
  border: 0;
  width: 100%;
}

/* end reset */
/* ------------------------ */

/* base styles */

/* ------------------------ */
/* custom properties */
:root {
  /* palette */
  --brand-color: #008000;
  --brand-color-light: #00c000;
  --background-color: white;
  --highlight-color: rebeccapurple;
  /* typography */
  --base-font-stack: "Open Sans", sans-serif;
  --font-size: 17px;
  --font-color: rgba(0, 0, 0, 0.825);
  /* spacing */
  --gutter: 10px;
  /* breakpoints */
  --content-wide: 1200px;
  /* material shadows */
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/* end custom properties */
/* ------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--base-font-stack);
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

ul,
ol {
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-weight: 900;
  padding-bottom: 0.1em;
  border-bottom: 1px solid var(--font-color);
}

a {
  color: var(--brand-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--brand-color-light);
}

table {
  width: 100%;
  margin: 2em 0 1em 0;
  font-family: var(--base-font-stack);
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.825);
  padding: var(--gutter) 0.7em;
}

#map {
  width: 100%;
  box-shadow: var(--shadow-2);
}

main {
  max-width: var(--content-wide);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

main ul,
main ol {
  list-style-position: inside;
}

main > figure {
  margin: 0;
  float: none;
  max-width: 360px;
}

@media screen and (min-width: 540px) {
  main > figure {
    float: left;
    margin: 0 1em 0 0;
  }
}

footer {
  background-color: white;
  border-top: 1px solid var(--font-color);
  margin-top: 3em;
}

.footer-inner {
  max-width: var(--content-wide);
  margin: 1.3em auto 1.1em auto;
  padding: 0 var(--gutter);
  font-size: 0.9em;
}

/* end base styles */
/* ------------------------ */

/* header and nav styling */

/* general nav link styles */
nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 3em;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight-color);
}

header#nav-wide nav a.active {
  border-bottom: 2px solid var(--brand-color);
}

header#nav-wide nav a.active:hover {
  border-color: var(--highlight-color);
}

.svg-icon {
  vertical-align: text-bottom;
  fill: var(--brand-color);
}

.svg-icon:hover {
  fill: var(--highlight-color);
}

/* narrow nav */
header#nav-narrow {
  display: block;
}

header#nav-narrow nav a.active:hover {
  border-color: var(--highlight-color);
}

/* hide on larger screens */
@media screen and (min-width: 720px) {
  header#nav-narrow {
    display: none;
  }
}

#narrow-menu-controls {
  height: 3em;
  line-height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.school-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-logo-link img {
  width: 28px;
  margin-right: 1em;
}

.narrow-menu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  width: 35px;
  height: 35px;
  margin: var(--gutter);
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#narrow-menu-content {
  position: fixed;
  top: 0;
  right: 0;
  left: 10vw;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: transform 0.33s;
  box-shadow: var(--shadow-5);
}

#narrow-menu-content a {
  display: block;
  text-align: right;
}

#narrow-menu-content a.active {
  text-decoration: underline;
  font-style: italic;
}

#menu-close-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3em;
  height: 3em;
  align-self: flex-end;
}

#narrow-menu-content.closed {
  transform: translateX(200vw);
}

#narrow-menu-content.open {
  transform: translateX(0);
}

/* wide nav */
header#nav-wide {
  display: none;
}

header#nav-wide nav {
  max-width: var(--content-wide);
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* only show on larger screens */
@media screen and (min-width: 720px) {
  header#nav-wide {
    display: block;
  }
}
/* end header and nav styling */

/* ------------------------ */

/* seach box */
#search-view {
  position: fixed;
  z-index: 50;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: white;
  transition: transform 0.33s;
  box-shadow: var(--shadow-5);
}

#search-view.closed {
  transform: translateX(-200vw);
}

#search-view.open {
  transform: translateX(0);
}

#search-view header {
  max-width: var(--content-wide);
  margin: 0 auto;
  padding: 0 var(--gutter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-inner {
  max-width: var(--content-wide);
  margin: 0 auto;
  padding: 0 var(--gutter);
  height: 100%;
  overflow-y: scroll;
  /* scrollbar styling */
  /* EXPERIMENTAL */
  scrollbar-width: thin;
  scrollbar-color: var(--brand-color) white;
}

/* Works on Chrome/Edge/Safari */
.search-inner::-webkit-scrollbar {
  width: 12px;
}
.search-inner::-webkit-scrollbar-track {
  background: white;
}
.search-inner::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: 20px;
  border: 3px solid orange;
}

input#query {
  font-family: var(--base-font-stack);
  font-size: var(--font-size);
  width: 100%;
  max-width: 640px;
  padding: 0.7em var(--gutter);
  color: var(--font-color);
  font-weight: 400;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  transition: all 0.3s ease;
}

input#query::placeholder {
  color: var(--brand-color);
  font-weight: 700;
}

input#query:focus {
  background-color: white;
  box-shadow: var(--shadow-2);
  border-color: var(--brand-color-light);
}

#search-results li {
  margin: 0;
  font-size: 1.1em;
  margin-bottom: 0.4em;
}
/* end search box */

/* ----------------------------- */

/* link buttons and people pictures */
.content-grid a,
.content-grid figure {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
}

.content-grid a {
  padding: 10px 0.7em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.content-grid a[href*="//"]:not([href*="mysite.com"]):after
{
  content: url("/images/logos/open_in_new.svg");
  position: absolute;
  top: 10px;
  right: 10px;
}

.content-grid a[href$=".pdf"]:after {
  content: url("/images/logos/pdf.svg");
  position: absolute;
  top: 10px;
  right: 10px;
}

.content-grid a:hover {
  color: var(--highlight-color);
  box-shadow: var(--shadow-3);
}

.content-grid figure {
  justify-content: space-between;
  max-width: 300px;
}

.content-grid figure img {
  width: 100%;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.content-grid figcaption {
  padding: 10px 0.7em;
  font-family: "Open Sans", sans-serif;
}
/* end link buttons and people pictures */
/* ------------------------ */

/* additional styles for uniform links*/

.uniform-pics a {
  justify-content: center;
  align-items: center;
}

.uniform-pics img {
  height: 50px;
  object-fit: contain;
  margin-top: var(--gutter);
}

/* values pictures */
.values-grid img {
  display: inline-block;
  max-width: 200px;
}

/* table of contents */

.table-of-contents {
  margin: 0 0 2em 0;
  border-bottom: 2px solid var(--font-color);
  /* text-align: right; */
}

.table-of-contents h4 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

.table-of-contents ul {
  max-width: 100%;
  margin: 0.6em 0 1em 0;
}

.table-of-contents ul li {
  margin-bottom: 0.2em;
}

@media screen and (min-width: 720px) {
  .table-of-contents ul {
    padding: 0;
  }
  .table-of-contents li {
    display: inline;
    padding-right: 2em;
  }
}

/* cookie consent */
.cc-window {
  box-shadow: var(--shadow-2);
  border-radius: 0 0 5px 5px;
}

.cc-compliance {
  font-family: "Open Sans", sans-serif;
}

.cc-btn {
  transition: background-color 0.33s;
  border-radius: 5px;
}

/* layout */
/* we need grid fallbacks */

#page-content {
  max-width: 100vw;
}

@supports (display: grid) {
  html,
  body {
    height: 100%;
  }
  #page-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
  header {
    grid-area: header;
  }

  header {
    grid-area: header;
  }

  #page-content {
    grid-area: content;
  }
  footer {
    grid-area: footer;
  }

  .content-grid {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(90px, auto);
    margin: 1em auto 2em auto;
  }

  .content-grid a,
  .content-grid figure {
    margin: 0;
  }

  .values-grid {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fit, 200px);
    margin: 1em auto 1em auto;
  }

  .values-grid img {
    max-width: 200px;
  }
}

/* --------------------- */
/* home page styles */
/* home page banner */
#home-page-banner {
  /* in case image fails to load */
  background-color: var(--brand-color);
  background-image: url("/uploads/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-inner {
  max-width: var(--content-wide);
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vmin;
}

.title-inner h1 {
  font-weight: 700;
  font-size: calc(8vmin + 8px);
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding: 0.5em 0.8em 0.5em 0.4em;
  color: white;
  border: none;
  border-radius: 0 0 1em 0;
}

@media screen and (min-width: 1200px) {
  #home-page-banner {
    min-height: 500px;
  }
}

.header-links {
  background-color: rgba(0, 0, 0, 0.3);
}
.header-links-inner {
  margin: 0 auto;
  max-width: var(--content-wide);
  padding: var(--gutter);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-links a {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

.header-links a:first-child {
  margin-left: 0;
}

.header-links a:last-child {
  margin-right: 0;
}

.header-links a,
.header-links a img {
  height: calc(30px + 4vmin);
  width: auto;
}

.twitter-container {
  max-width: 420px;
  max-height: 520px;
  margin: 3em 0 1em 0;
  background-color: white;
  box-shadow: var(--shadow-2);
  padding: 1em;
  border-radius: 5px;
}

.footer-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-logos img {
  width: auto;
  height: 100px;
  margin: var(--gutter);
}

@supports (display: grid) {
  .homepage-content,
  .nursery-content {
    display: grid;
    grid-template-rows: 1f;
    grid-template-areas:
      "mainContent"
      "twitter"
      "logos";
    gap: 2em;
  }
  .hompage-main,
  .nursery-main {
    grid-area: mainContent;
  }
  .twitter-container {
    grid-area: twitter;
    width: 100%;
  }
  .footer-logos {
    grid-area: logos;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--gutter);
    justify-items: center;
  }
  .footer-logos div {
    margin: 0;
  }
  @media screen and (min-width: 840px) {
    .homepage-content,
    .nursery-content {
      grid-template-columns: 1fr 420px;
      grid-template-areas:
        "mainContent twitter"
        "logos logos";
      gap: 2em 3em;
    }
  }
}
